Authenticated.

Welcome!

<app-search type='track' (searched)='searched($event)'></app-search>
<app-search-results [searchResults]='searchResults'></app-search-results>

<p>Create session SHOULD:</p>
     <ul>
         <li> create a fake channel</li>
         <li> grab your userId from the profile end point</li>
         <li> create a playlist in your spotify called radio lux</li>
         <li> get the newly created playlist Id</li>
         <li> create a session in the cloud, with the three Ids linked (channel / user / playlist) </li>
     </ul>
<button (click)='createSession()'>Create Session</button>
<button (click)='stayTuned()'>Connect to Radio</button>

<app-queue [queue]='queue'></app-queue>
